---
title: Middleman Loaded Libraries
---

<%= partial '/docs/subnav' %>

<%= link_to "Middleman Documentation", "http://middlemanapp.com/", target: '_blank' %>
<br clear="all" />

<div class="col">
	<h3>Javascript</h3>
	<dl>
		<dt><%= link_to "jquery", "http://jquery.com/", target: '_blank' %> </dt>
		<dd>The Write Less, Do More, JavaScript Library</dd>

		<dt><%= link_to "magnific-popup", "https://github.com/dimsemenov/Magnific-Popup", target: '_blank' %> </dt>
		<dd>Lightbox: responsive, customizable & fast</dd>

		<dt><%= link_to "royalslider", "http://dimsemenov.com/plugins/royal-slider/", target: '_blank' %> </dt>
		<dd>Slideshow: responsive, customizable & fast</dd>

		<dt><%= link_to "jquery-waypoints", "http://imakewebthings.com/jquery-waypoints/", target: '_blank' %> </dt>
		<dd>Scroll position links </dd>

		<dt><%= link_to "fastclick", "https://github.com/ftlabs/fastclick", target: '_blank' %> </dt>
		<dd>Remove 300ms mobile delay</dd>

		<dt><%= link_to "fitvids", "http://fitvidsjs.com/", target: '_blank' %> </dt>
		<dd>Responsive videos</dd>
	</dl>
</div>
<div class="col">
	<h3>CSS & Fonts</h3>
	<dl>
		<dt><%= link_to "bourbon", "http://bourbon.io/", target: '_blank' %> </dt>
		<dd>A Sass Mixin Library </dd>

		<dt><%= link_to "bourbon neat", "http://neat.bourbon.io/", target: '_blank' %> </dt>
		<dd>Grid framework for Sass and Bourbon</dd>

		<dt><%= link_to "Font Awesome", "http://fortawesome.github.io/Font-Awesome/icons/", target: '_blank' %> </dt>
		<dd>Scalable vector icons that can instantly be customized</dd>
	</dl>
</div>
<div class="col">
	<h3>Custom Sass</h3>
	<ul>
		<li><%= link_to "buttons","https://github.com/dnajd/middleman-loaded/blob/master/source/assets/scss/mixins/_buttons.scss", target: '_blank'%></li>
		<li><%= link_to "containers","https://github.com/dnajd/middleman-loaded/blob/master/source/assets/scss/mixins/_containers.scss", target: '_blank'%></li>
		<li><%= link_to "hide-text","https://github.com/dnajd/middleman-loaded/blob/master/source/assets/scss/mixins/_hide-text.scss", target: '_blank'%></li>
		<li><%= link_to "list-of-links","https://github.com/dnajd/middleman-loaded/blob/master/source/assets/scss/mixins/_list-of-links.scss", target: '_blank'%></li>
		<li><%= link_to "module","https://github.com/dnajd/middleman-loaded/blob/master/source/assets/scss/mixins/_module.scss", target: '_blank'%></li>
		<li><%= link_to "omega-reset","https://github.com/dnajd/middleman-loaded/blob/master/source/assets/scss/mixins/_omega-reset.scss", target: '_blank'%></li>
		<li><%= link_to "padding","https://github.com/dnajd/middleman-loaded/blob/master/source/assets/scss/mixins/_padding.scss", target: '_blank'%></li>
		<li><%= link_to "rounded-corners","https://github.com/dnajd/middleman-loaded/blob/master/source/assets/scss/mixins/_rounded-corners.scss", target: '_blank'%></li>
		<li><%= link_to "trailing-hovers","https://github.com/dnajd/middleman-loaded/blob/master/source/assets/scss/mixins/_trailing-hovers.scss", target: '_blank'%></li>
		<li><%= link_to "triangle","https://github.com/dnajd/middleman-loaded/blob/master/source/assets/scss/mixins/_triangle.scss", target: '_blank'%></li>
	</ul>
</div>

<br clear="all" />
<h1>Social Share Buttons</h1>

  <div class="social-sharing" data-permalink="https://github.com/dnajd/middleman-loaded">
    <a target="_blank" href="http://www.facebook.com/sharer.php?u=https://github.com/dnajd/middleman-loaded" class="share-facebook">
      <span class="icon icon-facebook" aria-hidden="true"></span>
      <span class="share-title">Share</span>
      <span class="share-count">0</span>
    </a>
    <a target="_blank" href="http://twitter.com/share?url=https://github.com/dnajd/middleman-loaded&amp;text=jQuery%20social%20media%20buttons%20with%20share%20counts%20on%20GitHub&amp;" class="share-twitter">
      <span class="icon icon-twitter" aria-hidden="true"></span>
      <span class="share-title">Tweet</span>
      <span class="share-count">0</span>
    </a>
    <a target="_blank" href="http://pinterest.com/pin/create/button/?url=https://github.com/dnajd/middleman-loaded&amp;media=http://photos-c.ak.instagram.com/hphotos-ak-xfp1/10369404_682591538475746_1724734234_n.jpg&amp;description=Tina%20the%20dachsund" class="share-pinterest">
      <span class="icon icon-pinterest" aria-hidden="true"></span>
      <span class="share-title">Pin it</span>
      <span class="share-count">0</span>
    </a>
    <a target="_blank" href="http://plus.google.com/share?url=https://github.com/dnajd/middleman-loaded" class="share-google">
      <!-- Cannot get Google+ share count with JS yet -->
      <span class="icon icon-google" aria-hidden="true"></span>
      <span class="share-count">+1</span>
    </a>
    <a target="_blank" href="http://www.thefancy.com/fancyit?ItemURL=https://github.com/dnajd/middleman-loaded&amp;Title=Tina%20the%20dachsund&amp;Category=Other&amp;ImageURL=http://distilleryimage3.ak.instagram.com/6477684ac48d11e19ab222000a1e8819_7.jpg" class="share-fancy">
      <span class="icon icon-fancy" aria-hidden="true"></span>
      <span class="share-title">Fancy</span>
    </a>
    <a target="_blank" href="http://www.reddit.com/submit?url=https://github.com/dnajd/middleman-loaded&title=jQuery%20social%20media%20buttons%20with%20share%20counts%20on%20GitHub" class="share-reddit">
      <span class="icon icon-reddit" aria-hidden="true"></span>
      <span class="share-title">Reddit</span>
    </a>
    <a target="_blank" href="http://www.linkedin.com/shareArticle?mini=true&url=https://github.com/dnajd/middleman-loaded&title=jQuery%20social%20media%20buttons%20with%20share%20counts%20on%20GitHub" class="share-linkedin">
      <span class="icon icon-linkedin" aria-hidden="true"></span>
      <span class="share-title">Share</span>
      <span class="share-count">0</span>
    </a>
    <a target="_blank" href="https://web.skype.com/share?url=https://github.com/dnajd/middleman-loaded&lang=en-us" class="share-skype">
      <span class="icon icon-skype" aria-hidden="true"></span>
      <span class="share-title">Share</span>
    </a>
</div>

