---
title: Middleman Loaded Libraries
---

<%= partial '/docs/subnav' %>

<%= link_to "Middleman Documentation", "http://middlemanapp.com/", target: '_blank' %>
<br clear="all" />

<div class="col">
	<h3>Javascript</h3>
	<dl>
		<dt><%= link_to "jquery", "http://jquery.com/", target: '_blank' %> </dt>
		<dd>The Write Less, Do More, JavaScript Library</dd>

		<dt><%= link_to "magnific-popup", "https://github.com/dimsemenov/Magnific-Popup", target: '_blank' %> </dt>
		<dd>Lightbox: responsive, customizable & fast</dd>

		<dt><%= link_to "royalslider", "http://dimsemenov.com/plugins/royal-slider/", target: '_blank' %> </dt>
		<dd>Slideshow: responsive, customizable & fast</dd>

		<dt><%= link_to "jquery-waypoints", "http://imakewebthings.com/jquery-waypoints/", target: '_blank' %> </dt>
		<dd>Scroll position links </dd>

		<dt><%= link_to "fastclick", "https://github.com/ftlabs/fastclick", target: '_blank' %> </dt>
		<dd>Remove 300ms mobile delay</dd>

		<dt><%= link_to "fitvids", "http://fitvidsjs.com/", target: '_blank' %> </dt>
		<dd>Responsive videos</dd>
	</dl>
</div>
<div class="col">
	<h3>CSS & Fonts</h3>
	<dl>
		<dt><%= link_to "bourbon", "http://bourbon.io/", target: '_blank' %> </dt>
		<dd>A Sass Mixin Library </dd>

		<dt><%= link_to "bourbon neat", "http://neat.bourbon.io/", target: '_blank' %> </dt>
		<dd>Grid framework for Sass and Bourbon</dd>

		<dt><%= link_to "mfglabs-iconset", "http://mfglabs.github.io/mfglabs-iconset/", target: '_blank' %> </dt>
		<dd>Awesome web font icon</dd>
	</dl>
</div>
<div class="col">
	<h3>Custom Sass</h3>
	<ul>
		<li><%= link_to "buttons","https://github.com/dnajd/middleman-loaded/blob/master/source/assets/scss/mixins/_buttons.scss", target: '_blank'%></li>
		<li><%= link_to "containers","https://github.com/dnajd/middleman-loaded/blob/master/source/assets/scss/mixins/_containers.scss", target: '_blank'%></li>
		<li><%= link_to "hide-text","https://github.com/dnajd/middleman-loaded/blob/master/source/assets/scss/mixins/_hide-text.scss", target: '_blank'%></li>
		<li><%= link_to "list-of-links","https://github.com/dnajd/middleman-loaded/blob/master/source/assets/scss/mixins/_list-of-links.scss", target: '_blank'%></li>
		<li><%= link_to "module","https://github.com/dnajd/middleman-loaded/blob/master/source/assets/scss/mixins/_module.scss", target: '_blank'%></li>
		<li><%= link_to "omega-reset","https://github.com/dnajd/middleman-loaded/blob/master/source/assets/scss/mixins/_omega-reset.scss", target: '_blank'%></li>
		<li><%= link_to "padding","https://github.com/dnajd/middleman-loaded/blob/master/source/assets/scss/mixins/_padding.scss", target: '_blank'%></li>
		<li><%= link_to "rounded-corners","https://github.com/dnajd/middleman-loaded/blob/master/source/assets/scss/mixins/_rounded-corners.scss", target: '_blank'%></li>
		<li><%= link_to "trailing-hovers","https://github.com/dnajd/middleman-loaded/blob/master/source/assets/scss/mixins/_trailing-hovers.scss", target: '_blank'%></li>
		<li><%= link_to "triangle","https://github.com/dnajd/middleman-loaded/blob/master/source/assets/scss/mixins/_triangle.scss", target: '_blank'%></li>
	</ul>
</div>
