---
title: Welcome to Middleman-Loaded
---

<h1>Middleman is Loaded</h1>

<dl>
	<dt><%= link_to "middleman", "http://middlemanapp.com/", target: '_blank' %></dt>
	<dd>Static Site Generator</dd>

	<dt><%= link_to "jquery", "http://jquery.com/", target: '_blank' %> </dt>
	<dd>The Write Less, Do More, JavaScript Library</dd>

	<dt><%= link_to "bourbon", "http://bourbon.io/", target: '_blank' %> </dt>
	<dd>A Sass Mixin Library </dd>

	<dt><%= link_to "bourbon neat", "http://neat.bourbon.io/", target: '_blank' %> </dt>
	<dd>Grid framework for Sass and Bourbon</dd>

	<dt><%= link_to "magnific-popup", "https://github.com/dimsemenov/Magnific-Popup", target: '_blank' %> </dt>
	<dd>Lightbox: responsive, customizable & fast</dd>

	<dt><%= link_to "royalslider", "http://dimsemenov.com/plugins/royal-slider/", target: '_blank' %> </dt>
	<dd>Slideshow: responsive, customizable & fast</dd>

	<dt><%= link_to "jquery-waypoints", "http://imakewebthings.com/jquery-waypoints/", target: '_blank' %> </dt>
	<dd>Scroll position links </dd>

	<dt><%= link_to "fastclick", "https://github.com/ftlabs/fastclick", target: '_blank' %> </dt>
	<dd>Remove 300ms mobile delay</dd>

	<dt><%= link_to "fitvids", "http://fitvidsjs.com/", target: '_blank' %> </dt>
	<dd>Responsive videos</dd>

	<dt><%= link_to "mfglabs-iconset", "http://mfglabs.github.io/mfglabs-iconset/", target: '_blank' %> </dt>
	<dd>Awesome web font icon</dd>
</dl>
