---
title: Welcome to Middleman-Loaded
---

<h1>Middleman is Loaded</h1>

<ul>
	<li><%= link_to "middleman", "http://middlemanapp.com/" %></li>
	<li><%= link_to "jquery", "http://jquery.com/" %> </li>
	<li><%= link_to "bourbon", "http://bourbon.io/" %> </li>
	<li><%= link_to "bourbon neat", "http://neat.bourbon.io/" %> </li>
	<li><%= link_to "magnific-popup", "https://github.com/dimsemenov/Magnific-Popup" %> </li>
	<li><%= link_to "royalslider", "http://dimsemenov.com/plugins/royal-slider/" %> </li>
	<li><%= link_to "jquery-waypoints", "http://imakewebthings.com/jquery-waypoints/" %> </li>
	<li><%= link_to "fastclick", "https://github.com/ftlabs/fastclick" %> </li>
	<li><%= link_to "fitvids", "http://fitvidsjs.com/" %> </li>
	<li><%= link_to "http://mfglabs.github.io/mfglabs-iconset/", "mfglabs-iconset" %> </li>
</ul>
